
/*
Code from tutorial here
https://www.youtube.com/watch?v=NzGugQ-eiy0
*/

.rgb-border{
    background: #020024;
    background: linear-gradient(155deg, #020024 0%, rgba(0, 225, 255, 0.877) 0%, #2600ff9a 12%, #00aeff 24%,
    #4c00ff 36%, #00e4ff 48%, #0005ff 60%, #6e00fe 72%, rgb(0, 255, 234) 84%, #020024 96%);
    width: 19em;
    height: 6em;
    position: relative;
    animation: rgbgrad 55s linear infinite;
    margin-left: auto;
	margin-right: 10vh;
    margin-top: 7vh;
    transform: rotateZ(17deg);
}

.rgb-border::before{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
}

.rgb-border .rgb-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    background-image: linear-gradient(147deg, black 0%, #1f1f1f 74%);
    width: 97%;
    height: 95%;
    text-align: center;
    text-decoration: none;
    padding: 0.3em;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
}

@keyframes rgbgrad{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 18.75em 31.25em;
    }
    100%{
        background-position: 0.1em 0.1em;
    }
}

.rgbtext {
    animation: rgbtext 2s infinite;
}
  
@keyframes rgbtext {
    0% { color: rgb(255, 255, 255); }
    33% { color: rgb(121, 118, 255); }
    66% { color: rgb(102, 250, 250); }
    100% { color: rgb(255, 255, 255); }
}
