*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}

body{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
	color: cornsilk;
	
}

.flexbox{
	display: flex;
	width: 100%;
	align-items: center;
	text-align: center;
}
