*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}

body{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: system-ui sans-serif;
	max-width: 100%;
    overflow-x: hidden;
}

.flexbox{
	display: flex;
	width: 100%;
	align-items: center;
	text-align: center;
	margin-top: 12vh;
}

.presentation{
	color: cornsilk;
	height: 100vh;
	background: url('background.jpg');
	background-size: cover;
    background-position: center;
	position: fixed;
	width: 44%;
}
@media(max-width:767px){
	.presentation{
		width: 100%;
		position: relative;
	}
}

.presentation header{
	margin: 1.5vh;
	padding: 4vh;
	background-color: rgba(0, 0, 0, 0.75);
}

.presentation header img{
	height: 3em;
	padding-right: 1.5em;	
}

.presentation footer{
	background-color: rgba(0, 0, 0, 0.75);
	padding-left: 10vh;
	padding-bottom: 2vh;
	position: absolute;
	bottom: 0;
	width : 100%;
}
.presentation footer h1{
	font-weight: bold;
}
.presentation footer p{
	max-width: 90%;
}

.projects{
	min-height: 100vh;
	z-index: 5;
	padding-top: 10vh;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #212122;
	color: #DCDDDE;
	overflow-x: hidden;
}

.projects h2{
	font-family: Lato,arial,sans-serif;
	font-weight: bold;
	color: rgb(148, 186, 255);
}

.project-list{
	background: #1b1b1b;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.pj-item{
	background: rgb(38, 27, 92);
	width: 48.8%;
	height: 180px;
	margin: 0 1% 1% 0;
	float: left;
	cursor: pointer;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.pj-item h3{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin-top: 100px;
	text-align: center;
}
